@tailwind base;
@tailwind components;
@tailwind utilities;

.scene {
  width: 200px;
  height: 200px;
  perspective: 600px;
}

.cube {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transform: rotateX(-30deg) rotateY(-45deg);
}

.cube__face {
  position: absolute;
  width: 200px;
  height: 200px;
  border: 1px solid black;
  transition: opacity 1s ease-in-out;
}

.cube__face--front {
  transform: rotateY(0deg) translateZ(100px);
}
.cube__face--back {
  transform: rotateY(180deg) translateZ(100px);
}
.cube__face--left {
  transform: rotateY(-90deg) translateZ(100px);
}
.cube__face--right {
  transform: rotateY(90deg) translateZ(100px);
}
.cube__face--top {
  transform: rotateX(90deg) translateZ(100px);
}
.cube__face--bottom {
  transform: rotateX(-90deg) translateZ(100px);
}

.cube__face--top-open {
  animation: popUp 1s ease-in forwards;
  opacity: 0;
}
.cube__face--front-open {
  animation: fallFront 1s ease-in forwards;
  transform-origin: bottom;
  opacity: 0;
}
.cube__face--back-open {
  animation: fallBack 1s ease-in forwards;
  transform-origin: bottom;
  opacity: 0;
}
.cube__face--left-open {
  animation: fallLeft 1s ease-in forwards;
  transform-origin: bottom;
  opacity: 0;
}
.cube__face--right-open {
  animation: fallRight 1s ease-in forwards;
  transform-origin: bottom;
  opacity: 0;
}
.cube__face--front-open {
  animation: fallFront 1s ease-in forwards;
  transform-origin: bottom;
  opacity: 0;
}
.cube__face--bottom-open {
  animation: fallBottom 1s ease-in forwards;
  opacity: 0;
}

.snowflake {
  transform-origin: center;
  transform-style: preserve-3d;
  animation: snowflakeFall linear 10s infinite;
}

.glowing {
  background: radial-gradient(
    circle,
    rgba(252, 211, 77, 0.8) 0%,
    rgba(253, 224, 71, 0) 70%
  );
}

@keyframes fallFront {
  0% {
    transform: rotateY(0deg) translateZ(100px);
  }
  50% {
    transform: rotateY(0deg) translateZ(100px) rotateX(-90deg);
  }
  100% {
    transform: rotateY(0deg) translateZ(100px) rotateX(-90deg)
      translateY(-100vh);
  }
}

@keyframes fallBack {
  0% {
    transform: rotateY(180deg) translateZ(100px);
  }
  50% {
    transform: rotateY(180deg) translateZ(100px) rotateX(-90deg);
  }
  100% {
    transform: rotateY(180deg) translateZ(100px) rotateX(-90deg)
      translateY(-100vh);
  }
}

@keyframes fallLeft {
  0% {
    transform: rotateY(-90deg) translateZ(100px);
  }
  50% {
    transform: rotateY(-90deg) translateZ(100px) rotateX(-90deg);
  }
  100% {
    transform: rotateY(-90deg) translateZ(100px) rotateX(-90deg)
      translateY(-100vh);
  }
}

@keyframes fallRight {
  0% {
    transform: rotateY(90deg) translateZ(100px);
  }
  50% {
    transform: rotateY(90deg) translateZ(100px) rotateX(-90deg);
  }
  100% {
    transform: rotateY(90deg) translateZ(100px) rotateX(-90deg)
      translateY(-100vh);
  }
}

@keyframes popUp {
  0% {
    transform: rotateX(90deg) translateZ(100px);
  }
  50% {
    transform: rotateX(90deg) translateZ(200px) rotateY(180deg);
  }
  100% {
    transform: rotateX(90deg) translateZ(1000px) rotateY(720deg);
  }
}

@keyframes snowflakeFall {
  0% {
    transform: translate(-50%, -10%)
      rotateX(calc(var(--random-rotation-x) * 1deg))
      rotateY(calc(var(--random-rotation-y) * 1deg)) translateZ(0px);
  }
  25% {
    transform: translate(calc(-50% + 10px), 25vh)
      rotateX(calc(var(--random-rotation-x) * 90deg))
      rotateY(calc(var(--random-rotation-y) * 90deg)) translateZ(-10px);
  }
  50% {
    transform: translate(calc(-50% - 10px), 50vh)
      rotateX(calc(var(--random-rotation-x) * 180deg))
      rotateY(calc(var(--random-rotation-y) * 180deg)) translateZ(10px);
  }
  75% {
    transform: translate(calc(-50% + 20px), 75vh)
      rotateX(calc(var(--random-rotation-x) * 270deg))
      rotateY(calc(var(--random-rotation-y) * 270deg)) translateZ(-20px);
  }
  100% {
    transform: translate(calc(-50% - 30px), 110vh)
      rotateX(calc(var(--random-rotation-x) * 360deg))
      rotateY(calc(var(--random-rotation-y) * 360deg)) translateZ(0px);
  }
}
