@tailwind base;
@tailwind components;
@tailwind utilities;

.scene {
  width: 200px;
  height: 200px;
  perspective: 600px;
}

.cube {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transform: rotateX(-30deg) rotateY(-45deg);
}

.cube__face {
  position: absolute;
  width: 200px;
  height: 200px;
  border: 1px solid black;
}

.cube__face--front {
  transform: rotateY(0deg) translateZ(100px);
}
.cube__face--back {
  transform: rotateY(180deg) translateZ(100px);
}
.cube__face--left {
  transform: rotateY(-90deg) translateZ(100px);
}
.cube__face--right {
  transform: rotateY(90deg) translateZ(100px);
}
.cube__face--top {
  transform: rotateX(90deg) translateZ(100px);
}
.cube__face--bottom {
  transform: rotateX(-90deg) translateZ(100px);
}

.cube__face--top-open {
  animation: popUp 4s ease-in forwards;
}
.cube__face--side-open {
  animation: fallOver 4s ease-in forwards;
}

@keyframes popUp {
  from {
  }
  to {
    transform: translateY(-100vh);
  }
}

@keyframes fallOver {
  from {
    transform: rotateY("0deg");
  }
  to {
    transform: rotateY("-90deg");
  }
}
